* {
    margin:0;
    padding:0;
}

*:focus {
    outline: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    min-width: 870px;
    background: #fafafa;
    transition: all 0.5s ease;
    font-family: 'Open Sans', 'Sans-serif';
    letter-spacing: 1px;
    font-size: 14px;
}

input {
    margin: 0;
    font-family: 'Open Sans';
}

a, a:visited {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 60px;
    font-weight: 300;
}

h2 {
    font-size: 28px;
    font-weight: 300;
}

h3 {
    font-size: 16px;
    font-weight: 300;
}

h4 {
	font-weight: 300;
	font-size: 14px;
}

p {
    margin-bottom: 15px;
}

input[type=button] {
    padding: 20px;
    line-height: 22px;
    font-size: 16px;
    color: white;
    border: 1px solid rgb(86, 181, 91);
    background-color: rgba(106, 190, 112, 0.9);
    transition: background-color 0.2s linear;
    cursor: pointer;
}

    input[type=button]:hover {
        background-color: rgba(106, 190, 112, 0.75);
    }

input[type=text],
textarea {
    width: calc(100% - 42px);
    padding: 20px;
    line-height: 22px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    background-color: rgba(255, 255, 255, 0.9);
    transition: border 0.2s linear;
}

    input[type=text]:focus,
    textarea:focus {
        border: 1px solid #b7b7b7; 
    }

    input[type=text].hasCloseButton {
        width: calc(100% - 92px);
    }

    h3 + input[type=text],
    h3 + textarea {
        margin-top: 10px;
    }

        h3 + input[type=text] + .closeButton {
            margin-top: 26px;
        }

input.error,
textarea.error,
input.error:focus,
textarea.error:focus {
    border-color: red;
}

.colLeft {
    float: left;
    width: 48%;
}

.colRight {
    float: right;
    width: 48%;
}

.clearfix {
    clear: both;
}

.overlayPage {
    position: relative;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    padding: 25px;
    background: rgba(250, 250, 250, 0.9);
	z-index: 9;
    overflow-y: scroll;
    display: none;
    opacity: 0;
}

    .overlayPage .wrap {
        position: relative;
        width: 650px; /* 700px - 25px padding x2 */
        margin: 0 auto;
    }

        .overlayPage .wrap h2 {
            float: left;
            margin-top: 15px;
            margin-bottom: 40px;
            color: #4a4a4a;
        }

        .overlayPage .wrap .closeButton {
            margin-top: 19px;
        }

.modal {
    position: absolute;
    width: 500px;
    padding: 25px;
    background: rgba(250, 250, 250, 0.8);
	z-index: 9;
    top: calc(50% - 40px);
    left: 0;
    right: 0;
    margin: 0 auto;
    display: none;
    opacity: 0;
}

    .modal input[type=text] {
        background-color: rgba(255, 255, 255, 0.3);
    }

.closeButton {
    float: right;
    height: 32px;
    width: 32px;
    margin-top: 16px;
    background-image: url('../images/close3.png');
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

    .closeButton:hover {
        opacity: 0.75;
    }



#titleSmall {
    position: absolute;
    width: 170px;
    top: 35px ;
    left: 30px;
	z-index: 10;
    opacity: 0;
    color: #4a4a4a;
    transition: all 0.5s linear;
}

    #titleSmall.inverted {
        color: #e8e8e8;
    }

    #titleSmall #logoSmall {
        display: block;
        float: left;
        width: 50px;
        height: 50px;
        background-image: url(../images/logo_grey.png);
        background-size: 100%;
        background-repeat: no-repeat;
        transition: background-image 0.5s linear, opacity 0.15s ease-in-out;
    }

        #titleSmall.inverted #logoSmall {
            background-image: url(../images/logo_white.png);
        }

        #titleSmall a:hover {
            opacity: 0.95;
        }

    #titleSmall #logoSmallText {
        float: left;
        width: calc(100% - 70px);
        margin-left: 0;
        opacity: 0;
        transition: all 0.15s ease-in-out;
    }

        #titleSmall #logoSmall:hover + #logoSmallText {
            margin-left: 10px;
            opacity: 1;
        }

        #titleSmall #logoSmallText h2 {
            width: 100%;
            margin: 0;
            margin-top: 3px;
            text-align: center;
            letter-spacing: 3px;
        }



#trackSearch {
    display: block;
    opacity: 1;
}

    #searchField {
        position: relative;
        width: 650px; /* 700px - 25px padding x2 */
        height: 95px;
        top: calc(50% + 40px);
        left: 0;
        right: 0;
        margin: 5px auto 0 auto;
        z-index: 9;
        transition: top 0.2s ease-out;
    }

        #txtSearch {
            float: left;
            background-image: url('../images/transparent.png');
            background-position: right 20px center;
            background-repeat: no-repeat;
            background-size: 24px 24px;
            transition: background-image 0.3s ease-in-out, border 0.2s linear;
        }

            #txtSearch.loading {
                background-image: url('../images/loading.gif');
            }

        #btnHideTrackSearch {
            display: none;
        }

    #resultContainer {
        position: relative;
        width: 100%;
        height: calc(100% - 100px); /* subtract searchField height + 5px */
        overflow-y: scroll;
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }

        #resultContainer .notFound {
            margin-top: 50px;
            text-align: center;
        }

    #title {
        position: absolute;
        width: 300px;
        top: calc(50% - 170px);
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 9;
    }

        #logo {
            display: block;
            float: left;
        }

        #logoText {
            display: block;
            float: left;
            width: calc(100% - 130px);
            margin-left: 30px;
            color: #4a4a4a;
        }

            #logoText h1,
            #logoText h3 {
                width: 100%;
                margin: 0;
                text-align: center;
            }

            #logoText h1 {
                letter-spacing: 5px;
                margin-top: 3px;
                margin-bottom: 20px;
            }

    #browserNotSupported {
        position: absolute;
        width: 350px;
        top: calc(50% + 20px);
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 9;
        text-align: center;
        display: none;
    }

        #browserNotSupported h4 {
            font-weight: 400;
            color: red;
        }

#about {

}
    
    #txtFeedbackSubject {
        margin-bottom: 22px;
    }

    #txtFeedbackMessage {
        height: 140px;
    }

    #btnFeedbackSubmit {
        display: block;
        width: 100%;
        margin: 20px auto 0 auto;
    }

    #feedbackFormSuccess {
        display: none;
        text-align: center;
        color: #4a9f57;
    }

    #soundcloudLogo {
        display: ;
        width: 340px;
        margin: 50px auto 0 auto;
        text-align: center;
        font-weight: 400;
        color: #8d8d8d;
        vertical-align: top;
    }

        #soundcloudLogo img {
            width: 180px;
            margin-left: 10px;
        }

#error {
    
}

    #error .closeButton {
        margin: 0;
    }

    #error h3 {
        float: left;
        display: block;
        width: calc(100% - 40px);
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: 400;
        color: #d32525;
    }


#controls {
    width: 870px;
    height: 151px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
	z-index: 9;
    opacity: 0;
    display: none;
}

    #controlsWrap {
        width: 700px;
        height: 100%;
        margin: 0 auto;
    }

        #trackInfo {
            float: left;
            width: calc(100% - 89px);
            height: calc(100% - 50px);
            padding: 25px;
            background: rgba(255, 255, 255, 0.9);
        }

            #trackArt {
                float: left;
                width: 100px;
                height: 100%;
                background-repeat: no-repeat;
            }

            #trackControls {
                float: right;
                width: calc(100% - 125px);
                height: 100%;
            }

                #artistName {
                    margin: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                    #artistName a {
                        font-weight: 400;
                    }

                #trackName {
                    margin: 0;
                    font-size: 22px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                    #trackName a {
                        font-weight: 400;
                    }

                #track {
                    width: 100%;
                    margin-top: 17px;
                    cursor: pointer;
                }

        #menu {
            float: right;
            width: 35px;
            height: 100%;
        }

            #menu .menu-item {
                display: block;
                height: 35px;
                margin-bottom: 4px;
                background-color: rgba(255, 255, 255, 0.9);
                background-repeat: no-repeat;
                background-size: 16px;
                background-position: center;
                transition: all 0.3s ease;
                cursor: pointer;
            }

            #menu .menu-item:hover {
                background-color: rgba(255, 255, 255, 0.75);
            }

            #btnShowTrackSearch {
                background-image: url('../images/search.png');
            }

            #btnShowAnimationSettings {
                background-image: url('../images/bars2.png');
            }

            #btnShare {
                background-image: url('../images/share2.png');
            }

            #btnShowAbout {
                background-image: url('../images/speech.png');
            }



svg {
    position: absolute;
    min-width: 870px;
    z-index: 1;
}

#bars {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 256px;
    height: 150px;
	z-index: 8;
    display: none;
}

    #bars .bar {
        position: absolute;
        bottom: 0;
        background: rgba(255, 255, 255, 0.9);
        border-top: 2px solid #ed958a;
        transition: all 0.01s ease;
    }